body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: coral;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

article {
    background-color: lightgoldenrodyellow;
    border: ridge lightcoral;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

section {
    width: 250px;
    margin: 20px;
}

img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
}

.link-section {
    display: block;
    background-color: lightgoldenrodyellow;
    border: ridge lightcoral;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

.link-section a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link-section a:hover {
    background-color: lightsalmon;
    color: blue;
    cursor: pointer;
    padding: 10px;
}